form

  .control-group
    padding-top: 20px

    .radio
      font-weight: normal
      margin: 0 0 0 30px

      .iradio_square-grey
        top: 20px
        left: -30px

      .form-control
        display: inline
        width: auto
        height: auto

  .action
    padding-top: 20px

    .cancel
      margin-left: 10px

  .error
    color: $red

    .help-inline
      margin-left: 5px
