body
  background-color: $navigation-color
  padding: 30px 0

  .page-wrapper
    background-color: $background-color
    border-left: 1px solid $navigation-highlight-color
    min-height: 1300px
    padding: 15px 30px
    margin: 0 0 0 250px
